<div class="container-w">
  <h1 class="headline">Авторизация</h1>
  <%= form_with model: @user, url: auth_path do |f| %>
    <div class="log-pass-inputs">
      <input type="login", name="user[login]", class="log-input" />
      <input type="password", name="user[password]", class="pass-input" />
    </div>
      <input type="submit", class="sign-button", value="Вход" />
  <% end %>
</div>