<div class="container-w">
    <h1 class="headline">Авторизация</h1>
    <%= form_with model: @user, url: auth_path do |f| %>
        <div class="log-pass-inputs">
            <%= f.text_field :login, class: "log-input"%>
            <%= f.password_field :password, class: "pass-input" %>
        </div>
            <%= f.submit 'Вход', class: "sign-button" %>
    <% end %>
</div>