/* Материалы */

/* Таблица */
.articlestable {
    display: block;
    width: 100%;
    appearance: none;
}
tbody {
    width: 100%;
}

.container-materials {
    display: block;
    width: 100%;
}

.material-text {
    display: flex;
    width: 100%;
    padding: 30px;
    text-decoration: none;
    font-weight: 600;
    color: #212521;
    background-color: white;
    border-bottom: 1px solid #EAEFF8;
}

.material-text:hover {
    background-color: #0D6EFD;
    color: white;
}

.m-headline {
    display: block;
    width: 390px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.m-description {
    display: block;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}