
/* Навигация */



.navigation {
	display: block;
	position: fixed;
	top: 0;
	width: 100%;
	height: 70px;
	background-color: #212521;
	color: white;
	z-index: 9998;
}


.nav-bar {
	display: flex;
	height: 70px;
	position: relative;
	align-items: center;
}

.nav-bar nav {
	margin: 0 auto;
}

.nav-bar ul {
	display: flex;
	list-style-type: none;
	text-align: center;
	margin: 0 auto;
	vertical-align: middle;
}

.nav-bar li {
	margin-right: 20px;
	cursor: default;
}

.nav-bar__link {
	display: block;
	margin-right: 20px;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
}

.cms-auth {
	display: flex;
	position: absolute;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 12px;
	padding-bottom: 12px;
	right: 0;
	background-color: white;
	color: #212521;
	font-size: 16px;
	font-weight: 600;
	line-height: 100%;
	border-radius: 5px;
	transition: 300ms ease-out;
	cursor: pointer;
	text-decoration: none;
}


.cms-auth:hover {
	background-color: #FCEE0A;
}

.nav-logo {
	display: block;
	position: absolute;
	left: 0;
}

.nav-bar button {
	display: flex;
	position: absolute;
	padding: 8px;
	right: 0px;
	border-radius: 5px;
	color: #212521;
	transition: 300ms ease-out;
	cursor: pointer;
	visibility: hidden;
	background-color: white;
}

.nav-bar button:hover {
	background-color: #FCEE0A;
}

.nav-bar__mobile {
	display: block;
	z-index: 9;
}


@media (max-width: 993px) {
	
	.cms-auth {
		right: 45px;
	}
	.nav-bar button {
		visibility: visible;
	}
	.nav-bar ul {
		display: none;
		visibility: hidden;
	}
}

/* Мобильная навигация */

.nav-mobile {
	position: fixed;
	top: 70px;
	width: 100%;
	height: 100%;
	background-color: rgba(33, 37, 33, 0.60);
	z-index: 9998;
	visibility: hidden;
	opacity: 0;
}

.nav-mobile ul {
	display: block;
	position: fixed;
	background-color: white;
	right: 0;
	width: 400px;
	height: 100%;
	padding-top: 50px;
}

.nav-mobile li {
	display: block;
	width: 100%;
	height: fit-content;
}

.nav-mobile a {
	display: block;
	padding-left: 50px;
	padding-right: 50px;
	width: inherit;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 18px;
	font-weight: 600;
	line-height: 100%;
	transition: 300ms ease-out;
	color: #212521;
	cursor: pointer;
}

.nav-mobile a:hover {
	color: white;
	background-color: #212521;
}

.nav-mobile.open {
	visibility: visible;
	opacity: 1;
}

/* Слайдер */

.home-main__container {
	display: block;
	width: 100%;
	margin: 0 auto;
}

.home-main__cover {
	display: block;
	margin: auto;
	margin-top: 100px;
}

.btn-prev .btn-next {
	display: block;
}

.card-list {
	display: flex;
	user-select: none;
}

.card-link {
	cursor: pointer;
}

.card-item {
	display: block;
	width: 420px;
}

.card-wrapper {
	display: block;
	width: 100%;
}

.card-image {
	border-radius: 10px;
}

.sw-prev, .sw-next {
	display: flex;
	position: absolute;
	width: fit-content;
	height: fit-content;
	padding: 6px;
	user-select: none;
	color: #212521;
	background-color: white;
	top: 40%;
	bottom: 0;
	z-index: 2;
	border-radius: 100%;
	transition: 300ms ease;

}

.sw-prev {
	transform: scaleX(-1);
	left: 10px;
}

.sw-next {
	right: 10px;
}

.sw-next:hover, .sw-prev:hover {
	background-color: #FCEE0A;
}

@media (max-width: 1280px) {
	.card-item {
		width: 491px;
	}
	.card-image {
		width: 100%;
		height: auto;
	}
	.home-main__cover {
		margin-top: 100px;
	}
}

@media (max-width: 992px) {
	.card-item {
		width: 100%;
	}
	.card-image {
		width: 100%;
		height: auto;
	}

	.home-main__cover {
		margin-top: 100px;
	}
}

@media (max-width: 576px) {
	.card-item {
		width: 100%;
	}
	.card-image {
		width: 100%;
		height: auto;
	}
	.home-main__cover {
		margin-top: 80px;
	}
}

/* Новости */

.home-news {
	margin-top: 150px;
}

.home-news ul {
	display: flex;
	flex-wrap: wrap;
	columns: 3 420px;
	column-gap: 10px;
}

.home-news li {
	display: flex;
	position: relative;
	width: 420px;
	height: 130px;
	border-radius: 10px;
	transition: 300ms ease-out;
	margin-bottom: 10px;
}

.home-news li:hover {
	background-color: #212521;
	color: white;

	.home-news__data {
		color: white;
	}
}

.home-news__link {
	display: block;
	position: absolute;
	padding-left: 140px;
	padding-top: 40px;
}

.home-news__data {
	position: absolute;
	left: 140px;
	top: 15px;
	font-size: 14px;
	font-weight: 600;
	color: #BABABA;

}

.home-news a {
	display: flex;
	font-size: 16px;
	font-weight: 700;
	cursor: default;
	line-height: 120%;
	padding-right: 10px;
	cursor: pointer;
}

.home-news img {
	display: block;
	width: 130px;
	height: 130px;
	padding: 5px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 10px;
}

@media (max-width: 1280px) {
	.home-news ul {
		columns: 2;
		column-width: auto;
		column-gap: 10px;
	}
	.home-news li {
		width: 491px;
	}
}

@media (max-width: 992px) {
	.home-news {
		margin-top: 100px;
	}
	.home-news ul {
		columns: 1;
		column-width: 100%;
	}
	.home-news li {
		width: 100%;
	}
}

@media (max-width: 576px) {
	.home-news li {
		width: 100%;
		height: 100px;
		margin-bottom: 5px;
	}
	.home-news img {
		width: 100px;
		height: 100px;
	}
	.home-news a {
		font-size: 14px;
	}
	.home-news__link {
		padding-left: 110px;
		padding-top: 30px;
	}
	.home-news__data {
		position: absolute;
		left: 110px;
		top: 10px;
		font-size: 12px;
	}
}

/* О компании */

.home-about__columns {
	display: flex;
}

.home-about {
	margin-top: 150px;
	display: block;
}

.home-about__txt {
	display: block;
	width: 420px;
	margin-right: 110px;
	font-size: 16px;
	line-height: normal;
	font-weight: 600;
}

.home-about ul {
	display: block;
	width: 760px;
}

.home-about li {
	width: 100%;
	position: relative;
	height: 170px;
	border: 2px solid #F6F6F6;
	border-radius: 10px;
	margin-bottom: 10px;
	transition: 300ms ease-out;
}

.home-about li:hover {
	background-color: #212521;
	color: white;

	button {
		background-color: white;
		color: #212521;
	}
}

.home-about a {
	display: block;
	width: 100%;
	padding-left: 215px;
	padding-top: 30px;
	cursor: default;
	cursor: pointer;
}

.home__playlist-name {
	display: block;
	position: absolute;
}

.home-about img {
	display: block;
	position: absolute;
	width: 200px;
	height: 170px;
	padding: 15px;
	border-radius: 20px;
	top: 0;
	left: 0;
}

.home-about button {
	display: flex;
	position: absolute;
	width: fit-content;
	height: fit-content;
	bottom: 30px;
	left: 215px;
	padding: 10px;
	color: white;
	background-color: #212521;
	border-radius: 5px;
	transition: 300ms ease-out;
}

.home__playlist-time {
	position: absolute;
	width: 140px;
	text-align: right;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 100%;
	bottom: 30px;
	right: 30px;
}


@media (max-width: 992px) {
	.home-about {
		margin-top: 100px;
	}
	.home-about__columns {
		display: block;
	}
	.home-about__txt {
		width: 100%;
		margin-bottom: 30px;
		margin-right: 0;
	}
	.home-about ul {
		width: 100%;
	}
	.home-about li {
		width: 100%;
	}
}

@media (max-width: 576px) {
	.home-about {
		margin-top: 80px;
	}
	.home-about__columns {
		display: block;
	}
	.home-about__txt {
		font-size: 14px;
		width: 100%;
		margin-bottom: 20px;
		margin-right: 0;
	}
	.home-about ul {
		width: 100%;
	}
	.home-about li {
		width: 100%;
		height: 110px;
	}
	.home-about img {
		width: 140px;
		height: 110px;
		padding: 5px;
		border-radius: 10px;
	}
	.home-about a {
		width: 100%;
		padding-left: 150px;
		padding-top: 15px;
		font-size: 16px;
	}
	.home-about button {
		padding: 5px;
		left: 150px;
		bottom: 15px;
	}
	.home__playlist-time {
		bottom: 15px;
		right: 15px;
		font-size: 14px;
	}
}
