/* Общие стили */
* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    font-family: 'Inter';
}


.container-logo {
    display: block;
    width: 100%;
    height: 90px;
    border-bottom: 1px solid #343639;
}
.container-filters {
    display: block;
    width: 100%;
    height: 90px;
    background-color: #EAEFF8;
}
.sp-logo {
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
}

.username {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 5% 5%;
    justify-content: center;
    align-items: center;
    color: white;
}
.user {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

.container-nav-points {
    display: flex;
    width: 100%;
    min-width: 180px;
    gap: 6px;
}

.nav-bar {
    display: block;
    position: relative;
    width: 240px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #212521;
}
.nav-point {
    display: flex;
    width: 100%;
    padding: 5% 5%;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 100ms ease-out;
}
.nav-point:hover {
    background-color: #0D6EFD;
}
.nav-point:active {
    background-color: #0D6EFD;
}
.point-txt {
    width: 100%;
    height: 20px;
    vertical-align: middle;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-decoration: none;
    color: white;
}
.materials::before {
    content: "";
    background: url('/icons/icon-news.svg') 0 0 no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    color: white;
}
.publications::before {
    content: "";
    background: url('/icons/icon-publications.svg') 0 0 no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    color: white;
}
.programms::before {
    content: "";
    background: url('/icons/icon-tv.svg') 0 0 no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    color: white;
}
.multimedia::before {
    content: "";
    background: url('/icons/icon-multimedia.svg') 0 0 no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    color: white;
}
.users::before {
    content: "";
    background: url('/icons/icon-users.svg') 0 0 no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    color: white;
}
.help::before {
    content: "";
    background: url('/icons/icon-support.svg') 0 0 no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    color: white;
}
.settings::before {
    content: "";
    background: url('/icons/icon-settings.svg') 0 0 no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    color: white;
}

/* Колонки */
.columns {
    display: block;
    width: 100%;
    height: 100%;
    min-width: 500px;
}
.content {
    display: block;
    margin-left: 240px;
    width: 88vw;
}

/* Кнопки */

.log-out {
    display: flex;
    position: absolute;
    left: 5%;
    bottom: 20px;
    width: 90%;
    height: 40px;
    padding: 13px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #0D6EFD;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    transition: 100ms ease-out;
}
.log-out:hover {
    background-color: #013F9A;
}
