*, body {
    box-sizing: border-box;
}
* {
    padding:0;
    margin:0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.container {
	width: 1280px;
	margin: 0 auto;
}


/* Шрифты */
p {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

ul li {
	list-style: none;
}

body {
    background-color: white;
    box-sizing: border-box;
    font-family: 'Inter';
    color: #212529;
}

svg {
	stroke: inherit;
    stroke-width: inherit;
    fill: inherit;
}

.headline {
    display: block;
    margin-top: 38px;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
}
.headline-h2 {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}
.logo {
    display: block;
    width: 110px;
}
.head-logo {
    display: block;
    margin: 0 auto;
    width: 350px;
    margin-top: 10%;
}
.footer {
    display: block;
    margin: 0 auto;
    width: 350px;
}

/* Поля для ввода */

.container-w {
    display: block;
    margin: 0 auto;
    width: 350px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.log-input {
    display: block;
    width: 100%;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;

    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;

    border-radius: 8px 8px 0px 0px;
    border: 1px solid #DEE2E6;

    background-color: white;
}
.pass-input {
    display: block;
    width: 350px;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;

    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;

    border-radius: 0px 0px 8px 8px;
    border-top: none;
    border-right: 1px solid #DEE2E6;
    border-bottom: 1px solid #DEE2E6;
    border-left: 1px solid #DEE2E6;

    background-color: white;
}
.r-pass-input {
    display: block;
    margin-top: 15px;
    width: 350px;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;

    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;

    border-radius: 8px 8px 8px 8px;
    border: 1px solid #DEE2E6;

    background-color: white;
}
.log-input:focus, .pass-input:focus, .r-pass-input:focus {
    outline: none;
}
.log-input:focus-visible {
    border: 2px solid #0D6EFD;
    border-color: #0D6EFD;
}
.pass-input:focus-visible {
    border: 2px solid #0D6EFD;
    border-color: #0D6EFD;
}
.log-pass-inputs {
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}
.r-pass-input:focus {
    border: 2px solid #0D6EFD;
    border-color: #0D6EFD;
}

.log-input:hover, .pass-input:hover, .r-pass-input:hover {
    border: 2px solid #0D6EFD;
    border-color: #0D6EFD;
}
.log-input::placeholder, .pass-input::placeholder, .r-pass-input::placeholder {
    color: #9AA8B7;
}
/* Чек-бокс */

.container-checkbox {
    display: flex;
    margin-top: 20px;
    gap: 10px;
    margin-bottom: 20px;
    width: 350px;
    align-items: center;
}
.c-box {
    display: block;
    width: 20px;
    height: 20px;
}

/* Кнопки */

.sign-button {
    display: block;
    width: 350px;
    height: 50px;

    background-color: #0D6EFD;
    color: white;
    border: none;
    border-radius: 8px;

    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    transition: 200ms ease-in;
}
.sign-button:hover {
    background-color: #0C53BB;
    color: white;
}
.buttons {
    display: block;
    margin-top: 30px;
    margin-bottom: 60px;
}
.a-button {
    display: block;
    width: 350px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;

    border-radius: 8px;

    background-color: #0D6EFD;
    color: white;
    
    transition: 200ms ease-out;
}
.a-button:hover {
    background-color: #0C53BB;
}
.cms-button {
    display: block;
    width: 350px;
    height: 50px;
    margin-top: 5px;

    background-color: #008000;
    color: white;
    border: none;
    border-radius: 8px;

    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    transition: 200ms ease-in;

}

.cms-button:hover {
    background-color: #0d730d;
}

/* Footer */

.main-footer {
	display: block;
	width: 100%;
	background-color: #212521;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 150px;
}

.footer {
	display: flex;
	width: 100%;
	color: white;
}

.footer h4 {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	line-height: normal;
}