<div class="container-w">
    <h1 class="headline">Регистрация</h1>
    <%= form_with model: @user, url: users_path do |form| %>
        <div>
            <% if @user.errors.any?%>
            <div class=”alert alert-danger”>
                <% @user.errors.full_messages.each do |message| %>
                <div><%= message %></div>
                <% end %>
            </div>
            <% end %>
        </div>
        <div class="log-pass-inputs">
            <input type="text", name="user[login]", class="log-input" />
            <input type="text", name="user[password]", class="pass-input" />
            <input type="text", name="user[password_confirmation]", class="r-pass-input" />
        </div>
        <input type="submit", class="sign-button", value="Регистрация" />
    <% end %>
</div>
