/* Колонки */

.content {
    display: block;
    margin-left: 240px;
}

/* Контейнеры */

.container-filters {
    display: block;
    width: 100%;
    height: 90px;
    background-color: #EAEFF8;
}

.sp-logo {
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
}

.username {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 5% 5%;
    justify-content: center;
    align-items: center;
    color: white;
}

.user {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}