.articlestable {
    display: block;
    width: 100%;
    appearance: none;
}

tbody {
    display: block;
    width: 100%;
}
tr, td {
    display: block;
    width: 100%;
}

.container-materials {
    display: block;
    width: 100%;
}

.material-text {
    display: block;
    width: 100%;
    padding: 30px;
    text-decoration: none;
    font-weight: 600;
    color: #212521;
    background-color: white;
    border-bottom: 1px solid #EAEFF8;
}

.material-text:hover {
    background-color: #0D6EFD;
    color: white;
}

/* Навигация */

.container-nav-points {
    display: flex;
    width: 100%;
    gap: 6px;
}

.container-logo {
    display: block;
    width: 100%;
    height: 90px;
    border-bottom: 1px solid #343639;
}

.nav-bar {
    display: block;
    position: relative;
    width: 240px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #212521;
}

.nav-point {
    display: flex;
    width: 100%;
    padding: 5% 5%;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 100ms ease-out;
    cursor: pointer;
}
.nav-point:hover {
    background-color: #0D6EFD;
}

.point-txt {
    width: 100%;
    height: 20px;
    vertical-align: middle;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.cms-button {
    position: absolute;
    display: block;
    height: 40px;
    left: 5%;
    bottom: 70px;
    width: 90%;
    padding: 10px;
    background-color: #008000;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
}

.cms-button:hover {
    background-color: #0d7307;
}

.p-nav-point {
    font-size: 14px;
    width: 196px;
    flex-shrink: 0;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    color: white;
}
.container-logo {
    display: flex;
    width: 240px;
    height: 90px;
    padding: 5%;
    align-items: center;
    flex-shrink: 0;
}
.container-nav-points {
    display: flex;
    margin-top: 40px;
    width: 100%;
    padding: 5% 5%;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.materials::before {
    content: "";
    background: url('/icons/icon-news.svg') 0 0 no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    color: white;
}
.publications::before {
    content: "";
    background: url('/icons/icon-publications.svg') 0 0 no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    color: white;
}
.programms::before {
    content: "";
    background: url('/icons/icon-tv.svg') 0 0 no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    color: white;
}
.multimedia::before {
    content: "";
    background: url('/icons/icon-multimedia.svg') 0 0 no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    color: white;
}
.users::before {
    content: "";
    background: url('/icons/icon-users.svg') 0 0 no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    color: white;
}
.help::before {
    content: "";
    background: url('/icons/icon-support.svg') 0 0 no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    color: white;
}
.settings::before {
    content: "";
    background: url('/icons/icon-settings.svg') 0 0 no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    color: white;
}

/* Выпадающее меню */

.dropdown {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
    margin-bottom: 15px;

}
.dropdown-btn {
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    background-color: #EAEFF8;
    appearance: none;
    border: none;
    height: 40px;
}
.dropdown-btn::after {
    content: '';
    display: inline-block;
    margin-left: 5px;
    height: 16px;
    width: 16px;
    background-color: #212529;
    background: url('/icons/icon-arrow-down.svg') center no-repeat;
    vertical-align: middle;
}
.dropdown-content {
    position: relative;
    width: fit-content;
    background-color: white;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 5px #212529;
    appearance: none;
    z-index: none;
    box-shadow: 0px 0px 10px 0px rgba(33, 37, 33, 0.20);
    border-radius: 5%;
    visibility: hidden;
    opacity: 0;
    display: none;
}
li {
    list-style-type: none;
}
.dropdown-link {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: #212529;
    cursor: pointer;
}
.dropdown-link:hover {
    background-color: #212529;
    color: white;
}
.disp {
    display: block;
    visibility: visible;
    opacity: 1;
}

/* Пагинация */

.next_page {
    padding: 10px;
    background-color: #0D6EFD;
    text-decoration: none;
    color: white;
    border-radius: 5%;
    margin-left: 10px;
}
.previous_page {
    padding: 10px;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 5%;
    color: white;
    background-color: #0D6EFD;
}
.disabled {
    background-color: #0C53BB;

}

.current {
    color:#0D6EFD;
}

/* Выезжающий список материалов */

.materials {
    position: fixed;
    display: block;
    background-color: white;
    max-width: 1000px;
    height: 100vh;
    z-index: 99998;
    top: 0;
    right: -500px;
    box-shadow: -15px 0px 19px -2px rgba(34, 60, 80, 0.23);
    visibility: hidden;
    opacity: 0;
    transition: 300ms ease-out;
}

.materials.open {
    visibility: visible;
    opacity: 1;
    right: 0;
}

.ml-button-close {
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
    background-color: white;
    color: white;
    border-radius: 5px;
}

.materials-search {
    display: block;
    margin: 20px;
    background-color: #EAEFF8;
    padding: 5px;
    border-radius: 5px;
}

/* Список опубликованных материалов */

.article-tr {
    display: block;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #EAEFF8;
    cursor: pointer;
    box-sizing: border-box;
}

.article-tr:hover {
    background-color: #0D6EFD;
    color: white;

    &:hover {
        .article-txt, .article-status {
            color: white;
        }
    }
}

.article-txt {
    display: block;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
}


.article-status {
    display: block;
    font-weight: 500;
    font-size: 14px;
}

.cms-menu {
    position: relative;
    display: block;
    height: 70px;
    background-color: #EAEFF8;
}

.cms-buttons {
    position: absolute;
    display: flex;
    right: 30px;
    top: 15px;
    background-color: #EAEFF8;
}

.cms-btn {
    display: block;
    height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 5px;
    background-color: #0D6EFD;
    color: white;
    font-weight: 500;
    font-size: 14px;
    border-radius: 5px;
    transition: 100ms ease-in;
}

.cms-btn:hover {
    background-color: #0C53BB;
    color: white;
}

/* Добавление материала */

.new-material-h1 {
    display: block;
    padding: 30px;
    width: 100%;
    text-align: center;
}

.material-headline {
    display: block;
    margin: 30px;
}

.article-headline {
    display: block;
    background-color: white;
    width: 50%;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    border: 2px solid #EAEFF8;
    border-radius: 5px;
}

.article-headline:hover {
    border: 2px solid #212521;
}

.article-text {
    display: block;
    background-color: white;
    width: 50%;
    height: 300px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    border: 2px solid #EAEFF8;
    border-radius: 5px;
}

.ah-txt {
    display: block;
    font-size: 18px;
    width: 100%;
    font-weight: 500;
    margin-bottom: 15px
}

.nm-btn {
    display: inline-block;
    padding: 15px;
    margin-top: 20px;
    margin-right: 10px;
    background-color: #0D6EFD;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}

.nm-btn.delete {
    background-color: #FF0000;
}

.nm-btn.delete:hover {
    background-color: #A60000;
}

.nm-btn.public {
    background-color: #0d7307;
}

.nm-btn.public:hover {
    background-color: #008000;
}

.nm-btn:hover {
    background-color: #0C53BB;
}

.article-all-buttons {
    display: block;
    margin-top: 80px;
    margin-left: 30px;
}

.article-link {
    display: block;
    width: 300px;
    padding: 15px;
    border-bottom: 1px solid #EAEFF8;
    font-size: 16px;
    font-weight: 600;
    cursor: default;
}

.article-link:hover {
    background-color: #0D6EFD;
    color: white;
}

textarea {
    appearance: none;
}