<style>
    header {display:none}
    footer {display:none}
</style>

<div class="navigation">
    <nav class="nav-bar">
        <a class="nav-logo" href="/">
            <img src="/icons/icon-radio-logo.svg">
        </a>
        <ul class="nav-links">
            <li><a>О НАС</a></li>
            <li><a>ПРОГРАММЫ</a></li>
            <li><a>КОНТАКТЫ</a></li>
        </ul>
        <form action="/auth">
            <button class="cms-log-btn" type="submit">Войти</button>
        </form>
    </nav>
</div>


<div class="main-cover">
    <h2>Анонсы</h2>
    <div class="container swiper">
        <div class="card-wrapper">
            <ul class="card-list swiper-wrapper">
                <li class="card-item swiper-slide">
                    <a class="card-link">
                        <img src="/img/pic-1.png" alt="Card Image" class="card-image">
                    </a>
                </li>
                <li class="card-item swiper-slide">
                    <a class="card-link">
                        <img src="/img/pic-2.png" alt="Card Image" class="card-image">
                    </a>
                </li>
                <li class="card-item swiper-slide">
                    <a class="card-link">
                        <img src="/img/pic-3.png" alt="Card Image" class="card-image">
                    </a>
                </li>
                <li class="card-item swiper-slide">
                    <a class="card-link">
                        <img src="/img/pic-4.png" alt="Card Image" class="card-image">
                    </a>
                </li>
                <li class="card-item swiper-slide">
                    <a class="card-link">
                        <img src="/img/pic-5.png" alt="Card Image" class="card-image">
                    </a>
                </li>
                <li class="card-item swiper-slide">
                    <a class="card-link">
                        <img src="/img/pic-6.png" alt="Card Image" class="card-image">
                    </a>
                </li>
            </ul>
            <div class="sw-prev selected-button-prev"><span class="material-symbols-outlined">arrow_forward</span></div>
            <div class="sw-next selected-button-next"><span class="material-symbols-outlined">arrow_forward</span></div>
        </div>
    </div>
</div>

<div class="news">
    <h2>Новости</h2>
    <ul class="news-list">
        <li class="news-card">
            <img src="/img/news-pic-1.png" class="news-img">
            <div class="news-info">
                <p class="news-data">02.10.2024</p>
                <a class="news-headline">Заголовок новости</a>
            </div>
        </li>
        <li class="news-card">
            <img src="/img/news-pic-1.png" class="news-img">
            <div class="news-info">
                <p class="news-data">02.10.2024</p>
                <a class="news-headline">Заголовок новости</a>
            </div>
        </li>
        <li class="news-card">
            <img src="/img/news-pic-1.png" class="news-img">
            <div class="news-info">
                <p class="news-data">02.10.2024</p>
                <a class="news-headline">Заголовок новости</a>
            </div>
        </li>
        <li class="news-card">
            <img src="/img/news-pic-1.png" class="news-img">
            <div class="news-info">
                <p class="news-data">02.10.2024</p>
                <a class="news-headline">Заголовок новости</a>
            </div>
        </li>
        <li class="news-card">
            <img src="/img/news-pic-1.png" class="news-img">
            <div class="news-info">
                <p class="news-data">02.10.2024</p>
                <a class="news-headline">Заголовок новости</a>
            </div>
        </li>
        <li class="news-card">
            <img src="/img/news-pic-1.png" class="news-img">
            <div class="news-info">
                <p class="news-data">02.10.2024</p>
                <a class="news-headline">Заголовок новости</a>
            </div>
        </li>
    </ul>
</div>



