<style>
    header {display:none}
    footer {display:none}
</style>

<div class="navigation">
    <nav class="nav-bar">
        <a class="nav-logo" href="/">
            <img src="/icons/icon-radio-logo.svg">
        </a>
        <ul class="nav-links">
            <li><a>О НАС</a></li>
            <li><a>ПРОГРАММЫ</a></li>
            <li><a>КОНТАКТЫ</a></li>
        </ul>
        <form action="/auth">
            <button class="cms-log-btn" type="submit">Войти</button>
        </form>
    </nav>
</div>

<div class="cover">
    <h2>Анонсы<h2>
    <div class="cover-slider">
        <div class="slider-point">
            <img src="/img/pic-1.png">
        </div>
        <div class="slider-point">
            <img src="/img/pic-2.png">
        </div>
        <div class="slider-point">
            <img src="/img/pic-3.png">
        </div>
        <div class="slider-point">
            <img src="/img/pic-4.png">
        </div>
        <div class="slider-point">
            <img src="/img/pic-5.png">
        </div>
        <div class="slider-point">
            <img src="/img/pic-6.png">
        </div>
    </div>
    <div class="slider-btns">
        <button class="prev-btn"><img src="/icons/icon-arrow-prev.svg"></button>
        <button class="next-btn"><img src="/icons/icon-arrow-next.svg"></button>
    </div>
</div>

<div class="news">
    <h2>Новости</h2>
    <div class="list-news">
        <div class="news-card">
            <img src="/img/news-pic.png">
            <h3>Название статьи</h3>
        </div>
        <div class="news-card">
            <img src="/img/news-pic.png">
            <h3>Название статьи</h3>
        </div>
        <div class="news-card">
            <img src="/img/news-pic.png">
            <h3>Название статьи</h3>
        </div>
        <div class="news-card">
            <img src="/img/news-pic.png">
            <h3>Название статьи</h3>
        </div>
        <div class="news-card">
            <img src="/img/news-pic.png">
            <h3>Название статьи</h3>
        </div>
        <div class="news-card">
            <img src="/img/news-pic.png">
            <h3>Название статьи</h3>
        </div>
    </div>
    <div class="news-btns">
        <button class="news-prev-btn"><img src="/icons/icon-arrow-prev.svg"></button>
        <button class="news-next-btn"><img src="/icons/icon-arrow-next.svg"></button>
    </div>
</div>

