<style>
    .auth-header {display:none}
    .auth-footer {display:none}
</style>

<header class="navigation">
    <div class="container">
        <div class="nav-bar">
            <h1><a href="/"><img src="/icons/icon-radio-logo.svg"></a></h1>
            <nav>
                <ul>
                    <li><a class="nav-bar__link">О НАС</a></li>
                    <li><a class="nav-bar__link">ПРОГРАММЫ</a></li>
                    <li><a class="nav-bar__link">КОНТАКТЫ</a></li>
                </ul>
            </nav>
            <a href="/auth" class="cms-auth" type="submit">Войти</a>
            <button id="burger-btn"><span class="material-symbols-outlined">menu</span></button>
        </div>
    </div>
    <div class="nav-mobile" id="nav-mob">
        <nav>
            <ul>
                <li><a>О НАС</a></li>
                <li><a>ПРОГРАММЫ</a></li>
                <li><a>КОНТАКТЫ</a></li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <div class="container">
        <section class="home-main__cover">
            <h2>Анонсы</h2>
            <div class="home-main__container swiper">
                <div class="card-wrapper">
                    <ul class="card-list swiper-wrapper">
                        <li class="card-item swiper-slide">
                            <a class="card-link">
                                <img src="/img/pic-1.png" alt="Card Image" class="card-image">
                            </a>
                        </li>
                        <li class="card-item swiper-slide">
                            <a class="card-link">
                                <img src="/img/pic-2.png" alt="Card Image" class="card-image">
                            </a>
                        </li>
                        <li class="card-item swiper-slide">
                            <a class="card-link">
                                <img src="/img/pic-3.png" alt="Card Image" class="card-image">
                            </a>
                        </li>
                        <li class="card-item swiper-slide">
                            <a class="card-link">
                                <img src="/img/pic-4.png" alt="Card Image" class="card-image">
                            </a>
                        </li>
                        <li class="card-item swiper-slide">
                            <a class="card-link">
                                <img src="/img/pic-5.png" alt="Card Image" class="card-image">
                            </a>
                        </li>
                        <li class="card-item swiper-slide">
                            <a class="card-link">
                                <img src="/img/pic-6.png" alt="Card Image" class="card-image">
                            </a>
                        </li>
                    </ul>
                    <div class="sw-prev selected-button-prev"><span class="material-symbols-outlined">arrow_forward</span></div>
                    <div class="sw-next selected-button-next"><span class="material-symbols-outlined">arrow_forward</span></div>
                </div>
            </div>
        </section>

        <section class="home-news">
            <h2>Новости</h2>
            <ul>
                <li>
                    <p class="home-news__data">2 октября</p>
                    <p class="home-news__link"><a><img src="/img/news-pic-1.png">Иконы рока. Как всё начиналось: Крис Корнел</a></p>
                </li>
                <li>
                    <p class="home-news__data">2 октября</p>
                    <p class="home-news__link"><a><img src="/img/news-pic-2.png">«Русская Медиагруппа» выступила инфопартнёром мачта Лиги легенд «Зенит» - ЦСКА</a></p>
                </li>
                <li>
                    <p class="home-news__data">2 октября</p>
                    <p class="home-news__link"><a><img src="/img/news-pic-3.png">Рок и автомобили: культовые машины рок-звезд</a></p>
                </li>
                <li>
                    <p class="home-news__data">2 октября</p>
                    <p class="home-news__link"><a><img src="/img/news-pic-4.png">21 сентября на «Moscow Raceway» состоится финал кольцевых автогонок суперкаров</a></p>
                </li>
                <li>
                    <p class="home-news__data">2 октября</p>
                    <p class="home-news__link"><a><img src="/img/news-pic-5.png">История одного хита: Highway to Hell (AC/DC)</a></p>
                </li>
                <li>
                    <p class="home-news__data">2 октября</p>
                    <p class="home-news__link"><a><img src="/img/news-pic-6.png">Рокеры, чья дружба проверена временем</a></p>
                </li>
            </ul>
        </section>

        <section class="home-about">
            <h2>О компании</h2>
            <div class="home-about__columns">
                <p class="home-about__txt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <ul>
                    <li>
                        <p class="home__playlist-name"><a><img src="/img/playlist-1.png">MORRO ROCK</a></p>
                        <button><span class="material-symbols-outlined">arrow_outward</span></button>
                        <p class="home__playlist-time">4h 36m</p>
                    </li>
                    <li>
                        <p class="home__playlist-name"><a><img src="/img/playlist-2.png">PACIFIC DREAMS</a></p>
                        <button><span class="material-symbols-outlined">arrow_outward</span></button>
                        <p class="home__playlist-time">4h 36m</p>
                    </li>
                    <li>
                        <p class="home__playlist-name"><a><img src="/img/playlist-3.png">NIGHT FM</a></p>
                        <button><span class="material-symbols-outlined">arrow_outward</span></button>
                        <p class="home__playlist-time">4h 36m</p>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</main>

<footer class="main-footer">
    <div class="container">
        <div class="footer">
            <h4>Все права защищены, РАДИО-В</h4>
        </div>
    </div>
</footer>



