<div class="container-w">
    <main>
        <h1 class="headline">Войдите или зарегистрируйтесь</h1>
        <div class="buttons">
            <a href="/auth" class="a-button">Войти</a>
            <a href="/user/new" class="a-button">Зарегистрироваться</a>
        </div>
    </main>
</div>