<div>
  <style>
  header {display:none}
  footer {display:none}
  </style>
  <div class="columns">
    <div class="nav-bar">
      <div class="container-logo"><img src="/img/dashboard-logo.svg" class="sp-logo" alt=""></div>
      <div class="username"><p class="user"><%= current_user.login %></p></div>
      <nav class="container-nav-points">
        <a href="#" class="nav-point"><p class="point-txt materials">Материалы</p></a>
        <a href="#" class="nav-point"><p class="point-txt publications">Публикация</p></a>
        <a href="#" class="nav-point"><p class="point-txt programms">Программы</p></a>
        <a href="#" class="nav-point"><p class="point-txt multimedia">Мультимедиа</p></a>
        <a href="#" class="nav-point"><p class="point-txt users">Пользователи</p></a>
        <a href="#" class="nav-point"><p class="point-txt help">Обратная связь</p></a>
        <a href="#" class="nav-point"><p class="point-txt settings">Настройки</p></a>
      </nav>
      <%= current_user.login %>
      <form action="/quit">
        <p><input type="submit" class = "log-out" value="Выход" /></p>
      </form>
    </div>
    <div class="content">
      <div class="container-filters"></div>
      <div class="container-materials"><%= render partial: 'articles/list_of_articles'%></div>
    </div>
      <% if current_user and is_editor%>
        <form action="/cms/cms_page">
          <p><input type="submit" class = "button" value="CMS" /></p>
        </form>
      <% end %>
    </div>
  </div>
</div>