<%= form_with model: @article, url: publish_cms_article_path(@article.id), method: "patch" do |f| %>
  <div>
      <% if @article.errors.any?%>
      <div class=”alert alert-danger”>
          <% @article.errors.full_messages.each do |message| %>
          <div><%= message %></div>
          <% end %>
      </div>
    <% end %>
  <p>
    <%= f.submit 'Опубликовать статью', class: "button" %>
  </p>
</div>
<% end %>