<h1>Список доступных статей</h1>
<table class = "securedarticlestable">
  <tr>
    <th>Название статьи</th>
      <th>Статус</th>
  </tr>
    <% @articles.each do |article| %>
      <tr><td><a href="/cms/articles/<%= article.id %>">
        <%= article.title %></td>
      </a>
      <td><% if ArticleStatus.find_by(id: article.article_statuses_id).status == "draft" %>
      Черновик
      <% else %>
      Опубликовано</td></tr>
      <% end %>
    <% end %>
</table>
<%= will_paginate @articles, class: "pagination" %>
