<h1>Новая статья</h1>
<%= form_with model: @article, url: cms_articles_path do |f| %>
  <div>
      <% if @article.errors.any?%>
      <div class=”alert alert-danger”>
          <% @article.errors.full_messages.each do |message| %>
          <div><%= message %></div>
          <% end %>
      </div>
    <% end %>
    </div>
  <div class = "mb-3">
    <label> Заголовок </label><br>
    <input type="text", name="article[title]", value="<%= @article.title %>", class="articletitle"/>
  </div>
  <div class = "mb-3">
    <label> Текст статьи </label><br>
    <textarea type="text", name="article[body]" class="articlebody">
    <%= @article.body %>
    </textarea>
  </div>
  <p>
    <input type="submit", class="button", value="Сохранить статью" />
  </p>
<% end %>