/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* body {
    background-color: rgb(248, 248, 206);
  } */

  body {
    font-family: 'Inter';
    color: #212429;
  }
  .enterlinkcontainer {
    text-align: center;
    font-size: 1.5rem;
  }
  .button {
    text-align: center;
    background-color: #04AA6D; /* Green */
    border: solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .articlebody{
    font-size: 1rem;
    text-align: center;
    font-family: verdana;
    width: 450px;
    height: 300px;
  }
  .articletitle{
    width: 100px;
  }
  .userstable {
    border: 1px solid;
    text-align: center;
    font-family: verdana;
    margin-left: 750px;
  }
  .rolebutton{
    text-align: center;
    background-color: #c8e675; 
    border: solid;
    color: white;
  }
  .pagination{
    display: block;
    text-align: center;
    font-size: 18px;
    font-family: 'Inter';
    margin-top: 30px;
    font-weight: 600;
  }
  .securedarticlestable {
    border: 1px solid;
    text-align: center;
    font-family: verdana;
    margin-left: 810px;
  }
